# Dossier de cache local
.terraform/

# Fichiers d'état
*.tfstate
*.tfstate.*

# Fichiers de variables d'environnement
*.tfvars
*.tfvars.json

# Fichiers de log de crash
crash.log
crash.*.log

# Fichiers d'override de configuration
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Fichiers de plan d'exécution
*.tfplan

# Fichiers de cache
.packer/
packer_cache/

# Variables Packer contenant des secrets
*.pkrvars.hcl

# Fichiers de variables générés automatiquement ou manifests de build
*manifest.json

# Fichiers de retry en cas d'échec d'un playbook
*.retry

# Logs Ansible
ansible.log

# Rôles externes ansible-galaxy
roles/external/

# Dossiers de configuration VS Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Clés privées SSH tests
*.pem
*.key
id_rsa*